@import url("https://fonts.googleapis.com/css?family=Lustria|Open+Sans&display=swap");

.arti {
  max-width: 680px;
  margin: auto;
  padding: 25px;
  box-sizing: border-box;

  & > * {
    display: block;
    margin: 25px 0;
  }

  * {
font-family: "Open Sans", sans-serif;
    color: #333;
    letter-spacing: 1px;
  }

  img {
    width: 100%;
    display: block;
    margin: 25px 0;
  }

  table,
  th,
  td {
    border: 1px solid #999;
    border-collapse: collapse;
    padding: 25px;
  }

  a {
    text-decoration: none;
  }

  code {
    color: #000;
    display: block;
    background: #f7f7f7;
    padding: 25px;
  }
}
.arti__title--line {
  border: 1px solid var(--line);
  margin-top: 12px;
}
.arti__title--endline {
  border: 3px solid var(--lineEnd);

}