@import '../helpers';

.article__author {
  border-bottom: 2px solid $line;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 4px;
}

.author__link {
  color: #b98508;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}