@import '../helpers.scss';

.main-header__wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 25px;

  a {
    background: url('../images/logo.svg') center no-repeat;
    background-size: contain;
    display: block;
    height: 76px;
    width: 171px;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}