@import url('https://fonts.googleapis.com/css?family=Lustria|Open+Sans&display=swap');

$title: #FDC02F;
$line: #DEDEDE;
$link:#641FE0;
$lineEnd:#141D39;
$bg: #252525;
$fontTitle: 'Lustria', serif;
$fontText: 'Open Sans', serif;
