@import url('https://fonts.googleapis.com/css?family=Lustria|Open+Sans&display=swap');

$title: #fdc02f;
$line: #dedede;
$link:#641fe0;
$darkPurple:#141d39;
$bg: #252525;
$fontTitle: 'Lustria', serif;
$fontText: 'Open Sans', serif;
